:root {
  --primaryBackgroundColor: black;
  --primaryFontColor: #3dff00;
}

body {
  background: var(--primaryBackgroundColor);
  color: var(--primaryFontColor);
  font-size: 50px;
  height: 100%;
  font-family: "vt323regular";
  width: 90%;
  margin: 0 auto;
  min-width: 900px;
  max-width: 1300px;
  /*border-style:dashed;
  border-width: thick;
  border-color: #c97b15;*/
}

p {
  font-size: 25px;
}
a {
  color: #c97b15;
}
@font-face {
  font-family: "vt323regular";
  src: url("/vt323-regular-webfont.woff2") format("woff2"),
    url("/vt323-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.date {
  color: var(--primaryFontColor);
  text-align: right;
}

.tabla {
  font-size: 25px;
  border-color: var(--primaryFontColor);
  border: dashed 2px;
  width: 100%;
}
.header{
  display: table;
  width: 100%;
  font-size: 25px;
  margin: 10px;
}
.header a{
  text-decoration-line: none;
}

.info {
  margin-top: auto;
  margin-bottom: auto;
}
.col1{
  display: table-cell;
  width: 33%;
  text-align: center;
}
.col2{
  display: table-cell;
  width:33%;
  text-align: center;
}
.col3{
  width:33%;
  display: table-cell;
  text-align: center;
}

.sponsors{
  display: flex;
  justify-content: center;
  background-color: #8f8d8d;
  
}
.sponsors a {
  display: flex;
  width: 20%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.sponsors img{
  margin-left:auto;
  margin-right: auto;
}
.sponsors span{
  display: flex;
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3px;
  color:aliceblue;
}
.text-sponsors{
  text-align: center;
  font-size: 30px
}
.gold-sponsors{
  width: 20%;
}
.tabla-sponsors{
  font-size: 50%;
  border-color: var(--primaryFontColor);
  border: dashed 2px;
  width: 100%;
  text-align: center;
}
.tabla-invita{
  font-size: 50%;
  border-color: var(--primaryFontColor);
  border: dashed 2px;
  width: 100%;
  text-align: center;

}
.imagen-invita{
  margin-top: 10px;
}

.text-logo {
  color: var(--primaryFontColor);
  text-align: center;
  font-size: 50%;
  border-top: dotted;
  border-bottom: dotted;
  border-width: thick;
}

.subtitle {
  font-family: "vt323regular";
  color: #bbbbbb;

  text-align: center;
}
.subtitle-tabla{
  font-family: "vt323regular";
  color: #bbbbbb;
  text-align: center;
  
}
.menu {
  font-family: inherit;
  font-size: 25px;
}
.menu p {
  position: relative;
  top: 10px;
  left: 40%;
}

.option {
  color: #c97b15;
}
.break{
  color: #c97b15;
}
.no-space {
  margin: 0;
  padding: 0;
}
.no-space-2 {
  margin: 0;
  padding: 0;
  margin-bottom: 1%;
}

.options-table {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  width: 100%;
}

.cajadatos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.input-options,
.input-options:hover,
.input-options:active,
.input-options:focus {
  border-color: var(--primaryBackgroundColor) !important;
  background-color: var(--primaryBackgroundColor) !important;
  color: var(--primaryFontColor);
  outline: none !important;
  border: black;
  font-size: 40px;
  font-family: inherit;
  max-width: 25%;
}

.command {
  font-size: 25px;
  font-family: inherit;
  margin-top: unset;
  padding-top: unset;
}

div.container {
  text-align: center;
  font-size: 25px;
}

ul.myUL {
  display: inline-block;
  text-align: left;
  list-style: none;
}

.footer {
  text-align: center;
  font-size: 15px;
  background-color: #8f8d8d;
  border-top: solid;
  border-bottom: solid;
  border-width: 4px;
  border-color: #8f8d8d;
}

.footer span {
  color: white;
  background-color: #8f8d8d;
  /*border-right :solid;
  border-width: thick;
  border-color: rgb(68, 65, 65)*/
  /*margin-right: 0.05em;*/
  
}
footer i{
  color: white;
}
.footer-divisor {
  border: solid;
  border-width: 5px;
  border-color: rgb(68, 65, 65);
  
}
.social_networks{
  /*! display: contents; */
  justify-content: end;
  position: absolute;
  right: 26%;
}
.dont-show {
  display: none;
}

.menu-container {
  display: flex;
  justify-content: center;
}
.abajo{
  /*! display: flex; */
  justify-content: unset;
  /*! margin: 5p; */
}
.abajo a{
  margin-left:5px;
}

/*------------mobile-----------------*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    width: 100%;
    margin: 0 auto;
    min-width: 100px;
    max-width: 600px;
  }
  .text-logo {
    font-size: 22%;
    
  }
  .menu {
    text-align: start;
  }
  .menu p {
    position: relative;
    top: 10px;
    left: 17%;
    max-width: 300px;
  }
  .social_networks{
    
    /*display: flex;*/
    justify-content: center;
    position:unset;
    
  }
  .footer-divisor-special {
    border: solid;
    border-width: 5px;
    border-color: rgb(68, 65, 65);
  }
  /*.social_networks a{
    border-style: solid;
    border-width:medium;
    border-color: black;
  }*/
  .subtitle{
    font-size:40%;
  }
  
  .abajo a{
    margin-left:0px;
  }
  .sponsors a {
    margin-top: -30px;
    margin-bottom: -10px;
  }
  .tabla-sponsors{
    font-size: 65%;
  }
  .subtitle-tabla{
    font-size: 65%;
  }
  
  .sponsors a {
  display: flex;
  width: 10%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  }
  .sponsors span{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    color:aliceblue;
  }
  #upper-sponsors{
    display: none;

  }
  .header{
    font-size: 20px;
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width:850px){
  body {
    width: 100%;
    margin: 0 auto;
    min-width: 600px;
    
  }
  .text-logo {
    font-size: 40%;
    
  }
  .menu {
    text-align: start;
  }
  .menu p {
    position: relative;
    top: 10px;
    left: 17%;
    max-width: 300px;
  }
  .social_networks{
    
    /*display: flex;*/
    justify-content: center;
    position:unset;
  }
  .footer-divisor-special {
    border: solid;
    border-width: 5px;
    border-color: rgb(68, 65, 65);
  }
  /*.social_networks a{
    border-style: solid;
    border-width:medium;
    border-color: black;
  }*/
  .subtitle{
    font-size:50%;
  }
  .header{
    font-size: 20px;
  }
  .abajo a{
    margin-left:2px;
  }
  .sponsors a {
    margin-top: -20px;
    margin-bottom: -10px;
  
  }
  .tabla-sponsors{
    font-size: 75%;
  }
  #upper-sponsors{
    display: none;

  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
.faq-question {
  font-size: 25px;
  color: #c97b15;
}
.faq-answer {
  font-size: 20px;
  color: #3dff00;
}
