:root {
  --primaryBackgroundColor: black;
  --primaryFontColor: #3dff00;

}

body {
  background: var(--primaryBackgroundColor);
  color: var(--primaryFontColor);
  font-size: 50px;
  height: 100%;
  font-family: "vt323regular";
}

@font-face {
  font-family: 'vt323regular';
  src: url('/vt323-regular-webfont.woff2') format('woff2'),
       url('/vt323-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;  
}
.date{
  color:var(--primaryFontColor);
  text-align: center;
  font-size: 12px;
}